* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0b0c10;
  color: #fff;
}
h1{
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-size: 20px;
  line-height: 1.6;

}
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.parallax-layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transform: translateY(0);
  will-change: transform;
  z-index: 0;
}

.hero-title {
  position: relative;
  z-index: 1;
}

.content {
  padding: 5rem 15%;
  background: #10131a;
  text-align: center;
    background-size: cover;
}

footer {
  text-align: center;
  padding: 2rem 0;
  background: #0b0c10;
  color: #aaa;
}
